GEMINI_API_KEY=AQ.Ab8RN6J_CWE0tfTXhZLnFH3VuDr	GwTvHGQOmgAJEo3MpVdGKqg
USDA_API_KEY=...
NEXT_PUBLIC_SUPABASE_URL=https://ijidkkgoivuwnnsudacv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3XjwLsRVmFDyHlXaJq5u-g_1KyISn14
